<% provide(:title, 'Ayuda') %>
<div class="container">
<h1>¿Cómo funciona?</h1>
<p>
	La Buena Vida funciona de una manera muy simple: haces una orden en línea que llegará hasta tu casa.
	<br>
	<br>
	<b> Entregas & Horarios </b>
	<br>
	<br>
		La Buena Vida solo entrega Jueves, Viernes, Sábado.
	<br>
	<br>
		Las entregas son apartir de las 8 pm. hasta las 12 am.
</p>
</div>