<div class="center hero-unit">
  <h1>Bienvenido a La Buena Vida</h1>

  <h2>
    Una cena de vino, pizza y una buena experiencia a domicilio.
    Solo en San Pedro, Nuevo León.
  </h2>
  <%= link_to "Ordena aquí.", '#', class: "btn btn-large btn-primary" %>
</div>