<footer class="footer">
  <small>
    La Buena Vida © 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   about_path %></li>
      <li><%= link_to "Contacto", '#' %></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
</footer>